<nav>
    <button class="btn-primary" routerLink="/gallery">gallery</button>
    <button class="btn-primary" routerLink="/mesh">mesh</button>
    <button class="btn-primary" routerLink="/arm">robot arm</button>
    <button class="btn-primary" routerLink="/sky">sky box</button>
    <button class="btn-primary" routerLink="/demo1">demo1</button>
    <button class="btn-primary" routerLink="/merge">merge</button>
</nav>
<div class="container">
    <canvas id="webgl" width="600" height="600"></canvas>
</div>
<router-outlet></router-outlet>
